
<p>BusinessPlan TOP</p>
<p>ログイン済みコンテンツ</p>
<div class = "indexmain">
  <div class="tab-menu">
   <ul>
     <li id="first" class="selected">収益</li>
     <li id="second">費用減算</li>
     <li id="third">物件費</li>
     <li id="forth">人件費</li>
     <li id="fifth">社取費用</li>
     <li id="sixth">投資</li>
   </ul>

   <div class="contents">
     <div class="first">
       <p>1円</p>
     </div>
      <div class="second">
       <p>2円</p>
     </div>
     <div class="third">
       <p>3円</p>
     </div>
     <div class="forth">
       <p>4円</p>
     </div>
      <div class="fifth">
        <p>5円</p>
    </div>
      <div class="sixth">
       <p>6円</p>
      </div>
    </div>
  </div>
</div>

